.App {
  text-align: center;
}

body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4 {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 300;
    line-height: 1.5em;
}

h2 {
    font-size: 2.6em;
}

h3 {
    font-size: 1.825em;
    line-height: 1.4em;
    /* margin: 20px 0 10px; */
}

h5 {
  font-size: 1.25em;
  line-height: 1.55em;
  margin-bottom: 15px;
}

a {
    color: #9c27b0;
}

a:hover, a:focus {
    color: #89229b;
    text-decoration: none;
}
